body{
    background-image: url('main_mall.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
#banner{
overflow: hidden;
display: block;
}
.inline-block{
max-width: 20%;
max-height: 40%;
display: inline-block;
}
.mem{
box-sizing: border-box;
}
h1{
font-size: 100px;
margin-top:25px;
margin-bottom: 25px;
}
.column {
float: center;
width: 33.33%;
padding: 5px;
}
img {
vertical-align: middle;
border-style: none;
height: 300px;
width: 300px;
object-fit: contain;
object-position: 50% 50%;
}
/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
opacity: 90%;
}

li {
float: left;
}

li a, .dropbtn {
display: inline-block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
background-color: gray;
}

li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
display: block;
}